.flip {
    position: relative;
    float: left;
    padding-bottom: 25%;
    width: 25%;
    text-align: center;
  }
  
  .flip:nth-child(1) {
    margin-left: -3px;
    margin-right: 1px;
  }
  
  .flip:nth-child(2),
  .flip:nth-child(3) {
    margin-right: 1px;
  }
  
  
  /* card fronts and backs */
  .flip__front,
  .flip__back {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .flip__front,
  .flip__back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
  }
  
  .flip__back {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
  
  
  /* hover effect */
  .flip.effect__hover.selected .flip__front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
  
  .flip.effect__hover.selected .flip__back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  
  
  /* click effect */
  .flip.effect__click.flipped .flip__front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
  
  .flip.effect__click.flipped .flip__back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  
  
  /* random effect */
  .flip.effect__random.flipped .flip__front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
  
  .flip.effect__random.flipped .flip__back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  